<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Introduction to R and RStudio</td> </tr>
      <tr> <td>09:45</td>  <td>Project Management With RStudio</td> </tr>
      <tr> <td>10:15</td>  <td>Seeking Help</td> </tr>
      <tr> <td>10:15</td>  <td>Morning break</td> </tr>
      <tr> <td>10:30</td>  <td>Data Structures</td> </tr>
      <tr> <td>11:30</td>  <td>Exploring Data Frames</td> </tr>
      <tr> <td>12:00</td>  <td>Subsetting Data</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Control Flow</td> </tr>
      <tr> <td>15:00</td>  <td>Creating Publication-Quality Graphics with ggplot2</td> </tr>
      <tr> <td>15:30</td>  <td>Afernoon break</td> </tr>
      <tr> <td>16:00</td>  <td>Creating Publication-Quality Graphics with ggplot2 (Continued)</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Review of previous day</td> </tr>
      <tr> <td>09:15</td>  <td>Vectorization</td> </tr>
      <tr> <td>09:40</td>  <td>Functions Explained</td> </tr>
      <tr> <td>10:15</td>  <td>Morning break</td> </tr>
      <tr> <td>10:30</td>  <td>Functions Explained (Continued)</td> </tr>
      <tr> <td>11:00</td>  <td>Writing Data</td> </tr>
      <tr> <td>11:20</td>  <td>Splitting and Combining Data Frames with plyr</td> </tr>
      <tr> <td>12:20</td>  <td>Data Frame Manipulation with dplyr</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Data Frame Manipulation with dplyr (Continued)</td> </tr>
      <tr> <td>14:20</td>  <td>Data Frame Manipulation with tidyr</td> </tr>
      <tr> <td>15:00</td>  <td>Producing Reports With knitr</td> </tr>
      <tr> <td>15:30</td>  <td>Afernoon break</td> </tr>
      <tr> <td>15:45</td>  <td>Producing Reports With knitr (Continued)</td> </tr>
      <tr> <td>16:20</td>  <td>Writing good software</td> </tr>
      <tr> <td>16:20</td>  <td>Wrap up</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
